<%= content_for :title do %>
  <%= t "views.admin.question.question_title" %>
<% end %>

<%= link_to new_question_path, class: "btn btn-primary" do %>
  <i class="fa fa-plus-circle glyphicon glyphicon-plus" aria-hidden="true"></i>
  <%= t "views.admin.question.add" %>
<% end %>

<div class="suggest_questions">
  <table class="questions table table-hover table-bordered" id="user_question">
    <thead>
      <tr class="info">
        <th><%= t "views.admin.question.stt" %></th>
        <th><%= t "views.admin.question.question_title" %></th>
        <th><%= t "views.admin.question.subject" %></th>
        <th><%= t "views.admin.question.type" %></th>
        <th><%= t "views.admin.question.state" %></th>
        <th class="actions"><%= t "views.admin.question.actions" %></th>
      </tr>
    </thead>
    <% @questions.each_with_index do |question, index| %>
      <tbody id="questions">
        <% if @questions.size > 0 %>
          <td class="text-left"><%= index + 1 %></td>
          <td><%= question.content %></td>
          <td><%= question.subject.name %></td>
          <td><%= question.question_type %></td>
          <td>
            <% if question.waitting? %>
              <label class="label label-info"><%= question.state %></label>
            <% elsif question.accepted? %>
              <label class="label label-success"><%= question.state %></label>
            <% else %>
              <label class="label label-danger"><%= question.state %></label>
            <% end %>
          </td>
          <td>
            <%= link_to edit_question_path(question),
              data: {toggle: "tooltip", placement: "top"}, title: t("edit") do %>
              <span class="glyphicon glyphicon-edit"></span>
            <% end %>
          </td>
        <% else %>
          <tr><td><%= t "views.admin.question.no_question" %></td></tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  <%= paginate @questions %>
</div>
