 <% provide :title, t("views.admin.subjects.all_subject") %>
<div class="row">
  <h1><%= t "views.admin.subjects.all_subject" %></h1>
  <div class="subject-search">
    <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name_cont, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :duration %>
        <%= f.text_field :duration_eq, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :total_question %>
        <%= f.text_field :total_question_eq, class: "form-control" %>
      </div>
      <%= button_tag(type: "submit", class: "btn btn-primary", 
        name: "commit", value: "conceal") do %>
        <span class="glyphicon glyphicon-search"></span> 
      <% end %>
    <% end %>
  </div>   
  <div class="new_subject_button">
    <%= link_to t("views.admin.subjects.add_new"),
      new_admin_subject_path, class: "btn btn-primary glyphicon glyphicon-plus" %>
  </div>
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <th><%= t "views.admin.subjects.index" %></th>
      <th><%= t "views.admin.subjects.name" %></th>
      <th><%= t "views.admin.subjects.total_question" %></th>
      <th><%= t "views.admin.subjects.duration" %></th>
      <th><%= t "views.admin.subjects.description" %></th>
      <th></th>
    </thead>
    <tbody>
      <% @subjects.each_with_index do |subject, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= subject.name %></td>
          <td><%= subject.total_question %></td>
          <td><%= subject.duration %></td>
          <td><%= subject.description %></td>
          <td>
            <%= link_to t("views.admin.subjects.edit"),
              edit_admin_subject_path(subject),
              class: "glyphicon glyphicon-edit" %> |
            <%= link_to t("views.admin.subjects.delete"),
              admin_subject_path(subject),
              method: :delete, data: {confirm: t("views.admin.subjects.delete_confirm")},
              class: "glyphicon glyphicon-trash text-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @subjects %>
</div>
