<%= content_for :title do %>
  <%= t "views.layouts.header.signup" %>
<% end %>

<center><h2><%= t "views.layouts.header.signup"%></h2></center>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(resource, as: resource_name,
      url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>

      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off",
        class: "form-control" %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",
        class: "form-control" %>

      <%= f.submit t("views.layouts.header.signup"), class: "btn btn-primary
        form-control new_acc" %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
