<% provide :title, t("all_users") %>
<div class="col-md-10">
  <h1><%= t "all_users" %></h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t "name" %></th>
        <th><%= t "email" %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class= "success">
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= link_to user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
