<% provide :title, t("views.admin.exams.user_exams") %>
<h1><%= t "views.admin.exams.title" %></h1>
<div class="row">
  <div class="container">
    <div class="exam-search">
      <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
        <div class="form-group">
          <%= f.label :subject_examinations_subject_name %>
          <%= f.text_field :subject_examinations_subject_name_cont, class: "form-control" %>
        </div>
        <%= button_tag(type: "submit", class: "btn btn-primary",
          name: "commit", value: "conceal") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      <% end %>
    </div>
    <table class="table table-striped table-hover table-style" id="admin_exam">
      <thead>
        <tr class="info">
          <th><%= t "views.exams.user" %></th>
          <th><%= t "views.exams.subject" %></th>
          <th><%= t "views.exams.created_date" %></th>
          <th><%= t "views.exams.status" %></th>
          <th><%= t "views.exams.duration" %></th>
          <th><%= t "views.exams.question_number" %></th>
          <th><%= t "admin.exams.spent_time" %></th>
          <th><%= t "views.exams.score" %></th>
          <th class="actions"><%= t "views.exams.action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @examinations.each do |exam| %>
          <% if exam.unchecked? || exam.checked? %>
            <tr>
              <td><%= exam.user.name %></td>
              <td><%= exam.subject.name %></td>
              <td><%= exam.created_at.strftime t "views.exams.time_format" %></td>
              <td>
                <% if exam.checked? %>
                  <label class="label label-success"><%= exam.status %></label>
                <% elsif exam.unchecked? %>
                  <label class="label label-info"><%= exam.status %></label>
                <% elsif exam.start? %>
                  <label class="label label-primary"><%= exam.status %></label>
                <% else %>
                  <label class="label label-warning"><%= exam.status %></label>
                <% end %>
              </td>
              <td><%= exam.subject.duration %> minutes</td>
              <td><%= exam.subject.total_question %></td>
              <td><%= default_spent_time exam %></td>
              <td>
                <% if exam.checked? %>
                  <%= exam.results.is_corrects.count %>/
                  <%= exam.subject.total_question %>
                <% else %>
                  ---
                <% end %>
              </td>
              <td>
                <%= link_to t("views.exams.show"),
                  admin_examination_path(exam), class: "btn btn-success" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @examinations %>
  </div>
</div>
