<%= form_for [:admin, @question] do |f| %>
  <% if @question.errors.full_messages.size > 0 %>
    <div class="error_alert">
      <% @question.errors.full_messages.each do |msg| %>
        <p class="text-danger"><%= msg %></p>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :subject_id %>
    <%= f.select :subject_id,
      @subjects.collect {|subject| [subject.name, subject.id ]},
      {}, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="fields">
    <%= f.label :question_type %>
    <%= f.select :question_type, Question.question_types.keys.to_a, {},
      {class: "form-control"} %>
  </div>
  <div id ="answer_field">
    <%= f.fields_for :answers do |answer_builder| %>
      <%= render "answer_fields", f: answer_builder %>
    <% end %>
    <%= link_to_add_fields t("views.admin.question.add_answer"), f, :answers %>
  </div>
  <div class="clearfix"></div>
  <button type="reset" class="btn btn-warning form-control reset">
    <%= t "views.admin.question.reset" %>
  </button>
  <%= f.submit t("views.admin.question.save"),
    class: "btn btn-primary form-control save-answer" %>
<% end %>
