<%= content_for :title do %>
  <%= t "views.admin.question.question_title" %>
<% end %>
<h1><%= t "views.admin.question.quesitons" %></h1>
<div class="question-search">
  <%= search_form_for [:admin, @search], class: "form-inline" do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content_cont, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subject_questions_subject_name %>
      <%= f.text_field :subject_questions_subject_name_cont, class: "form-control" %>
    </div>
    <%= button_tag(type: "submit", class: "btn btn-primary",
      name: "commit", value: "conceal") do %>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
  <% end %>
</div>
<%= link_to new_admin_question_path, class: "btn btn-primary add_ques" do %>
  <i class="fa fa-plus-circle glyphicon glyphicon-plus" aria-hidden="true"></i>
  <%= t "views.admin.question.add" %>
<% end %>
<div class="admin_questions_m">
  <table class="table table-striped table-hover table-style" id="admin_question">
    <thead>
      <tr class="info">
        <th><%= t "views.admin.question.stt" %></th>
        <th><%= t "views.admin.question.question_title" %></th>
        <th><%= t "views.admin.question.subject" %></th>
        <th><%= t "views.admin.question.type" %></th>
        <th><%= t "views.admin.question.state" %></th>
        <th class="actions"><%= t "views.admin.question.actions" %></th>
        <th class="actions"><%= t "views.admin.question.manage" %></th>
      </tr>
    </thead>
    <% @questions.each_with_index do |question, index| %>
      <tbody id="questions">
        <% if @questions.size > 0 %>
          <td class="text-left"><%= index + 1 %></td>
          <td><%= question.content %></td>
          <td><%= question.subject.name %></td>
          <td><%= question.question_type %></td>
          <td>
            <% if question.waitting? %>
              <label class="label label-info"><%= question.state %></label>
            <% elsif question.accepted? %>
              <label class="label label-success"><%= question.state %></label>
            <% else %>
              <label class="label label-danger"><%= question.state %></label>
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_question_path(question),
              data: {toggle: "tooltip", placement: "top"}, title: t("edit") do %>
              <span class= "glyphicon glyphicon-edit"></span>
            <% end %> |
            <%= link_to admin_question_path(question), method: :delete,
              data: {toggle: "tooltip", placement: "top",
              confirm: t("views.admin.question.confirm")}, title: t("delete") do %>
                <span class= "glyphicon glyphicon-trash text-danger"></span>
              <% end %>
          </td>
          </td>
            <% if question.waitting? %>
              <td>
                <%= form_for [:admin, question] do |f| %>
                  <%= f.hidden_field :state, value: :accepted %>
                  <%= f.submit t("views.admin.question.action.accept"),
                    class: "col-md-4 btn btn-success" %>
                <% end %>
                <%= form_for [:admin, question] do |f| %>
                  <%= f.hidden_field :state, value: :reject %>
                  <%= f.submit t("views.admin.question.action.reject"),
                    class: "col-md-4 btn btn-danger" %>
                <% end %>
              </td>
            <% else %>
              <td></td>
            <% end %>
        <% else %>
          <tr><td><%= t "views.admin.question.no_question" %></td></tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  <%= paginate @questions %>
</div>
