<div class="row">
  <% if @examination.start? || @examination.testing? %>
    <div class="col-md-2 col-md-offset-1">
      <h4><%= t ".time_remain" %></h4>
      <p id="clock" data-time-limit="<%= @examination.subject.duration %>"
        data-time-start="<%= @time_start %>"
        data-time-now="<%= Time.now.to_i %>"
        data-status="<%= @examination.status %>"></p>
      <p id="finish">
    </div>
    <div class="col-md-8 col-md-offset-1">
      <%= form_for @examination do |f| %>
        <%= f.fields_for :results do |result| %>
          <%= render "question", f: result %>
        <% end %>
        <div class="col-md-8 col-md-offset-1">
          <button type="submit" value="testing" name="examination[status]">
            <%= t "views.exams.save" %>
          </button>
          <button type="submit" value="unchecked" name="examination[status]">
            <%= t "views.exams.finish" %>
          </button>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= form_for @examination do |f| %>
      <ol>
        <%= f.fields_for :results do |result| %>
          <div class="panel panel-default col m6 question_answers">
            <label><%= result.object.question.content %>?</label>
            <div>
              <div class="answers">
                <% result.object.question.answers.each do |answer| %>
                  <%= result.hidden_field :question_id  %>
                  <% if result.object.examination.checked? %>
                    <% if answer.is_correct? %>
                      <p class="green-text">
                    <% else %>
                      <p class="red-text">
                    <% end %>
                  <% else %>
                    <p>
                  <% end %>
                    <%= result.radio_button :answer_id, answer.id,
                      checked: answer.id == result.object.answer_id,
                      disabled: true %>
                    <%= result.label :answer_id  %>
                    <%= answer.content %>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </ol>
    <% end %>
  <% end %>
</div>
