<div class="row">
  <% if @examination.start? || @examination.testing? %>
    <div class="col-md-2 col-md-offset-1 timer">
      <h4><%= t ".time_remain" %></h4>
      <p id="clock" data-time-limit="<%= @examination.subject.duration %>"
        data-time-start="<%= @time_start %>"
        data-time-now="<%= Time.now.to_i %>"
        data-status="<%= @examination.status %>"></p>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <%= form_for @examination do |f| %>
        <ol>
          <%= f.fields_for :results do |result| %>
            <%= render "question", f: result %>
          <% end %>
          <div class="col-md-8 col-md-offset-1">
            <button type="submit" value="testing" name="examination[status]"
              class="btn btn-primary btn-submit submit-time-out">
              <%= t "views.exams.save" %>
            </button>
            <button type="submit" id="finish" value="unchecked"
              name="examination[status]"
              class="btn btn-danger btn-submit pull-right">
              <%= t "views.exams.finish" %>
            </button>
          </div>
        </ol>
      <% end %>
    </div>
  <% else %>
    <div class="col-md-2 col-md-offset-1 timer">
      <h4><%= t ".time_remain" %></h4>
      <p id="clock" data-time-limit="<%= @examination.subject.duration %>"
        data-time-start="<%= @time_start %>"
        data-time-now="<%= Time.now.to_i %>"
        data-status="<%= @examination.status %>"></p>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <%= form_for @examination do |f| %>
        <ol>
          <%= f.fields_for :results do |result| %>
            <div class="panel panel-default col m6 question_answers">
              <li>
                <span class="label label-default quesiton_number">
                  <%= t "views.exams.question_number"%>
                  <%= result.index + 1 %>:
                </span>
                <label><%= result.object.question.content %>?</label>
              </li>
              <div class="answers">
                <% result.object.question.answers.each do |answer| %>
                  <%= result.hidden_field :question_id  %>
                  <% if result.object.examination.checked? %>
                    <% if answer.is_correct? %>
                      <p class="text_success">
                    <% else %>
                      <p class="red-warning">
                    <% end %>
                  <% else %>
                    <p>
                  <% end %>
                    <%= result.radio_button :answer_id, answer.id,
                      checked: answer.id == result.object.answer_id,
                      disabled: true %>
                    <%= result.label :answer_id  %>
                    <%= answer.content %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
          <%= social_share_button_tag(@examination.subject.name, 
            url: "lvh.me:3000/examinations/#{@examination.id}") %>
        </ol>
      <% end %>
    </div>
  <% end %>
</div>
